.git
.github
.gitignore
.idea
.vscode
venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/
.pytest_cache/
.coverage
tests/
*.log
.env
.envrc
.DS_Store
docker-compose.yml
Dockerfile
.dockerignore
setup.py
config/
